body {
    font-family: Arial, sans-serif;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 320px;
}

li li {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:black;
}


li ol li {
  font-size: 24px;

}

ol#board  li  ol  li {
    background-color: #f2f2f2; 
}


ol#board  li:nth-child(odd) ol  li:nth-child(even),
ol#board  li:nth-child(even)  ol  li:nth-child(odd) {
    background-color: #aca8a8;
}

